#orca {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  max-width: 85%;
  height: 100%;
  width: 85%;
}

#orca > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#pilot {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  max-width: 20%;
  height: 100%;
  width: 16%;
  display: inline;
}

#pilot > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}