#orca {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  height: 100%;
  width: 85%;
}

#orca > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#pilot {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  max-width: 20%;
  height: 100%;
  width: 16%;
  display: inline;
}

#pilot > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#info-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 80;
  align-items: center;
  justify-content: center;
  transition: height 1s;
}

#info-container.flex {
  display: flex;
}

#info {
  width: 70%;
  height: 70%;
  min-width: 800px;
  min-height: 300px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid white;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: column;
  transition: width 1s;
}

#info-header {
  width: 100%;
  border: 1px solid white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

#info-close {
  margin-left: auto; 
  margin-right: 0;  
}

.hidden {
  display: none;
}

.icon:hover{
  cursor: pointer;
}

.icon:hover{
  color: #ccc;
}